/* src/assets/promobar.css */
.promo-bar {
    background-color: #FF69B4;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.promo-content {
    display: flex;
    align-items: center;
}

.highlight {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #191970;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink-animation 1.5s linear infinite;
  }



.promo-text {
    font-weight: 500;
}

.promo-buttons {
    display: flex;
    gap: 10px;
}

.promo-button {
    background-color: #191970;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
}

.promo-button:hover {
    background-color: #191970;
    color: white;
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .promo-bar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .promo-content, .promo-buttons {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .promo-bar {
        padding: 5px;
    }

    .highlight {
        font-size: 1rem;
        padding: 3px 8px;
    }

    .promo-text {
        font-size: 0.9rem;
    }

    .promo-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}